doctype 5
html
	head
		title= title
		// - if (typeof(stylesheet) != 'undefined')
		if locals.stylesheet
			link(rel='stylesheet', href='/stylesheets/#{stylesheet}.css')
		else
			link(rel='stylesheet', href='/stylesheets/style.css')


	body
		block content


	!= js('application')